fadeIn =
  transition opacity 1s linear, z-index 1s linear
  opacity 1
  z-index 20
fadeInPopup =
  transition opacity 1s linear, z-index 1s linear
  opacity 1
  z-index 100
fadeOut = 
  transition opacity 1s linear, z-index 1s linear
  opacity 0
  z-index -1  
unsupported = 
  position relative
  top 0px
  left 0px
  margin 10px
  background red
disabled =
  pointer-events none
  cursor default
  background-color #999
  opacity 0.5
flicker = 
  opacity 0
  height 0
  display block
  animation flickerAnimation 3s
  -webkit-animation flickerAnimation 3s
  -moz-animation flickerAnimation 3s
  -o-animation flickerAnimation 3s
fadeInAnimated = 
  opacity 1
  display block
  animation fadeInAnimation 3s
  -webkit-animation fadeInAnimation 3s
  -moz-animation fadeInAnimation 3s
  -o-animation fadeInAnimation 3s
