@import 'components/icons'

.bdsft-webrtc
  .table
    display table
    width 100%
  .fixed
    table-layout fixed
  .collapse
    border-collapse collapse
  .cell
    display table-cell
  .heading
    display table-row
    font-weight bold
  .row
    display table-row
    margin 0
  .group
    display table-row-group

  .hidden
    display: none !important
  .opaque
    opacity: 0 !important
    
  .popup
    background #292929
    padding 10px
    border 2px solid #DDDDDD
    float left
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    margin auto
    box-shadow 0px 0px 10px #999999
    border-radius 3px
    font-size 14px
    line-height 18px
    z-index 100
    .actions
      text-align right
    .title
      font-weight bold
      font-size 18px
      color white
      
  .centered
    top 50%
    left 50%
    bottom auto
    right auto
    transform translate(-50%,-50%)
    backface-visibility hidden
  
  .centered.audioOnly:not(.offerToReceiveVideo)
    top: 45px;
    bottom: auto;
    transform: translate(-50%, 0);

  .topright
    right auto
    left 100%
    top 0
    bottom auto
        
  .bottomleft
    right auto
    left 0
    bottom auto
    top 100%
        
  .audioOnly .centered, .audioOnly.centered
    top 0%
    transform translate(-50%,40px)

  .fadeable
    opacity 0
    display block
    z-index -1
    backface-visibility hidden

  .fadeIn
    {fadeIn}

  .fadeOut
    {fadeOut}
    
@css {
@keyframes flickerAnimation { 
  0%   { opacity:0; height: 0}
  5%   { opacity:0.5; height: auto}
  20%  { opacity:1; height: auto}
  80%  { opacity:1; height: auto}
  85%   { opacity:0.5; height: auto}
  100% { opacity:0; height: 0}
}
@-o-keyframes flickerAnimation{
  0%   { opacity:0; height: 0}
  5%   { opacity:0.5; height: auto}
  20%  { opacity:1; height: auto}
  80%  { opacity:1; height: auto}
  85%   { opacity:0.5; height: auto}
  100% { opacity:0; height: 0}
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:0; height: 0}
  5%   { opacity:0.5; height: auto}
  20%  { opacity:1; height: auto}
  80%  { opacity:1; height: auto}
  85%   { opacity:0.5; height: auto}
  100% { opacity:0; height: 0}
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:0; height: 0}
  5%   { opacity:0.5; height: auto}
  20%  { opacity:1; height: auto}
  80%  { opacity:1; height: auto}
  85%   { opacity:0.5; height: auto}
  100% { opacity:0; height: 0}
}
@keyframes fadeInAnimation { 
  0%   { opacity:0; height: 0}
  5%   { opacity:0.1; height: auto}
  20%  { opacity:0.2; height: auto}
  80%  { opacity:0.8; height: auto}
  100% { opacity:1; height: auto}
}
@-o-keyframes fadeInAnimation{
  0%   { opacity:0; height: 0}
  5%   { opacity:0.1; height: auto}
  20%  { opacity:0.2; height: auto}
  80%  { opacity:0.8; height: auto}
  100% { opacity:1; height: auto}
}
@-moz-keyframes fadeInAnimation{
  0%   { opacity:0; height: 0}
  5%   { opacity:0.1; height: auto}
  20%  { opacity:0.2; height: auto}
  80%  { opacity:0.8; height: auto}
  100% { opacity:1; height: auto}
}
@-webkit-keyframes fadeInAnimation{
  0%   { opacity:0; height: 0}
  5%   { opacity:0.1; height: auto}
  20%  { opacity:0.2; height: auto}
  80%  { opacity:0.8; height: auto}
  100% { opacity:1; height: auto}
}
}